<div data-view="TutorialView" data-path="" class="view TutorialView">
	<div class="instructionText handUp">
		<div class="counter">1 — 3</div>
		<div class="line1">Time to learn the basics</div>
		<div class="line2">Raise your hand so you can see it on the screen</div>
	</div>

	<div class="instructionText dragIntoView">
		<div class="counter">2 — 3</div>
		<div class="line1">Great! Now close your hand</div>
		<span class="line2">And drag to the left</span>
	</div>

	<div class="instructionText pinchToStart">
		<div class="counter">3 — 3</div>
		<div class="line1">Now hold your hand over the image above</div>
		<div class="line2">And keep spreading your fingers - till the blue bar fills out</div>
	</div>

	<div class="cards" data-drag="x">
		<div class="TouchCardContainer">
			<div class="firstCard TouchCard" data-action="path" data-path="">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline"></div>
						<div class="number"></div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/fingers_close.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description"></div>
						<div class="arrowRight"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="secondCard TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="demo-overview">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline"></div>
						<div class="number"></div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/fingers_spread.mp4" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description"></div>
						<div class="arrowRight"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
