.idea/
.idea/*
!.idea/runConfigurations
!.idea/compiler.xml
!.idea/misc.xml
!.idea/HM-Typescript-Symfony-Starter.iml

/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/www/index.html
/www/build/
/www/build/css/bundle.css
/www/build/css/bundle.css.map
/www/build/js/main.js
/www/build/js/main.js.map
.DS_STORE
.idea/workspace.xml
/vendor/
public/css/bundle.css.map
/node_modules/
.env
.vscode
bundle-report-modern.html
bundle-report-legacy.html

.firebase
.firebaserc
firebase.json
