package.json
package-lock.json
node_modules/
.cache-loader/
dev_resources/
public/
*.js
*.woff2
*.woff
*.html
src/
!app/**/*
app/lib/**/*.js
templates/
tests/
config/
bin/
vendor/
var/
composer.json
composer.lock
phpunit.xml.dist
Procfile
symfony.lock
