<div data-view="GestureView" data-path="how-was-your-experience-gestures-old" class="view GestureView">
	<div class="intro">
		<div class="imageContainer">
			<video autoplay playsinline muted loop src="/assets/videos/Touchless_Gestures.mp4" width="312" height="208"></video>
		</div>

		<div class="description">
			<div class="header">How was your experience</div>
			<div class="body">
				In this demo we are trying to do a new take on the classical "How was your experience" boards that you sometimes see in toilets, shops etc. <br /><br /><strong>How to:</strong><br />
				Use a <strong>Thumbs Up</strong> to register your experience as being good<br />
				Or a <strong>Thumbs Down</strong> to register it as being a bad experience
			</div>
		</div>
		<div class="startButton">Start Demo</div>
	</div>

	<div id="handCircle">
		<svg class="progress-ring" width="400" height="400">
			<circle id="circleGreen" class="progress-ring__circle" stroke="green" stroke-width="14" fill="transparent" r="200" cx="200" cy="200" />

			<circle id="circleRed" class="progress-ring__circle" stroke="red" stroke-width="14" fill="transparent" r="200" cx="200" cy="200" />
		</svg>
	</div>
</div>
