<div data-view="HowWasYourExperienceView" data-path="how-was-your-experience" class="view HowWasYourExperienceView">
	<div class="introScreen">
		<div class="description">
			<div class="header">How was your experience?</div>
			<div class="textContent">
				<div class="scenario">
					<div class="smallHeader">SCENARIO</div>
					<div class="body">In this demo we are trying to do a new take on the classical "How was your experience" boards that you sometimes see in toilets, shops etc.</div>
				</div>
				<div class="howTo">
					<div class="smallHeader">HOW TO</div>
					<div class="body">Put your hand over the smiley you feel matches your experience. And spread your fingers over the item to confirm.</div>
				</div>
			</div>
		</div>

		<div class="TouchCardContainer">
			<div class="TouchCard" data-action="callback" data-path="startDemo">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="startDemo">Start Demo</div>
					<div class="imageContainer">
						<?xml version="1.0" encoding="UTF-8"?>
						<svg width="184px" height="159px" viewBox="0 0 184 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>Fill 1</title>
							<g id="Demo:Elevator" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="In-Demo-Nav_1-Copy" transform="translate(-243.000000, -66.000000)" fill="#FFFFFF">
									<polygon
										id="Fill-1"
										transform="translate(334.992806, 145.500000) rotate(-90.000000) translate(-334.992806, -145.500000) "
										points="326.040796 54 326.040796 203.96285 268.421511 145.869087 256 157.788271 334.994097 237 413.985612 157.788271 401.5641 145.869087 343.934486 203.96285 343.934486 54"
									></polygon>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="demoScreen">
		<div class="smileyContainer" data-drag="x">
			<div class="firstCard TouchCardContainer">
				<div class="TouchCard" data-action="callback" data-path="smiley-happy">
					<div class="background">
						<div class="line"></div>
					</div>
					<div class="cardContent">
						<div class="imageContainer">
							<?xml version="1.0" encoding="UTF-8"?>
							<svg width="115px" height="117px" viewBox="0 0 115 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>Group 10</title>
								<defs>
									<polygon id="path-1" points="0 0.7873 114.2128 0.7873 114.2128 115 0 115"></polygon>
								</defs>
								<g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Group-10">
										<g id="Group-3" transform="translate(0.000000, 0.213000)">
											<mask id="mask-2" fill="white">
												<use xlink:href="#path-1"></use>
											</mask>
											<g id="Clip-2"></g>
											<path
												d="M114.2128,57.8933 C114.2128,89.4333 88.6458,115.0003 57.1068,115.0003 C25.5668,115.0003 -0.0002,89.4333 -0.0002,57.8933 C-0.0002,26.3543 25.5668,0.7873 57.1068,0.7873 C88.6458,0.7873 114.2128,26.3543 114.2128,57.8933"
												id="Fill-1"
												fill="#B9D6FF"
												mask="url(#mask-2)"
											></path>
										</g>
										<path
											d="M25.0878,64.1502 C29.3428,77.7922 42.0638,87.6972 57.1068,87.6972 C72.1498,87.6972 84.8698,77.7922 89.1258,64.1502 L25.0878,64.1502 Z"
											id="Fill-4"
											fill="#133069"
										></path>
										<polygon id="Fill-6" fill="#133069" points="41.8896 51.348 35.8856 51.348 35.2296 35.367 41.9386 35.505"></polygon>
										<polygon id="Fill-8" fill="#133069" points="78.9345 51.6844 72.9305 51.6844 72.2745 35.7034 78.9835 35.8414"></polygon>
									</g>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<div class="TouchCardContainer">
				<div class="TouchCard" data-action="callback" data-path="smiley-semi-happy">
					<div class="background">
						<div class="line"></div>
					</div>
					<div class="cardContent">
						<div class="imageContainer">
							<?xml version="1.0" encoding="UTF-8"?>
							<svg width="115px" height="117px" viewBox="0 0 115 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>Group 10</title>
								<defs>
									<polygon id="path-1" points="0 0.7876 114.2128 0.7876 114.2128 114.9996 0 114.9996"></polygon>
								</defs>
								<g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Group-10">
										<g id="Group-3" transform="translate(0.000000, 0.213000)">
											<mask id="mask-2" fill="white">
												<use xlink:href="#path-1"></use>
											</mask>
											<g id="Clip-2"></g>
											<path
												d="M114.2128,57.8936 C114.2128,89.4326 88.6458,114.9996 57.1068,114.9996 C25.5668,114.9996 -0.0002,89.4326 -0.0002,57.8936 C-0.0002,26.3546 25.5668,0.7876 57.1068,0.7876 C88.6458,0.7876 114.2128,26.3546 114.2128,57.8936"
												id="Fill-1"
												fill="#639EFF"
												mask="url(#mask-2)"
											></path>
										</g>
										<path
											d="M77.9218,63.4909 C74.9898,72.5569 66.6588,78.6359 57.1068,78.6359 C47.5548,78.6359 39.2238,72.5569 36.2918,63.4909 L29.9968,63.4909 L30.4848,65.0579 C34.1378,76.7669 44.8368,84.6359 57.1068,84.6359 C69.3778,84.6359 80.0758,76.7669 83.7288,65.0579 L84.2168,63.4909 L77.9218,63.4909 Z"
											id="Fill-4"
											fill="#133069"
										></path>
										<polygon id="Fill-6" fill="#133069" points="41.8895 52.3239 35.8855 52.3239 35.2295 36.3429 41.9385 36.4809"></polygon>
										<polygon id="Fill-8" fill="#133069" points="78.9344 52.6604 72.9304 52.6604 72.2744 36.6794 78.9834 36.8174"></polygon>
									</g>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<div class="TouchCardContainer">
				<div class="TouchCard" data-action="callback" data-path="smiley-neutral">
					<div class="background">
						<div class="line"></div>
					</div>
					<div class="cardContent">
						<div class="imageContainer">
							<?xml version="1.0" encoding="UTF-8"?>
							<svg width="115px" height="117px" viewBox="0 0 115 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>Group 10</title>
								<defs>
									<polygon id="path-1" points="0 0.7873 114.213 0.7873 114.213 115 0 115"></polygon>
								</defs>
								<g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Group-10">
										<g id="Group-3" transform="translate(0.000000, 0.213000)">
											<mask id="mask-2" fill="white">
												<use xlink:href="#path-1"></use>
											</mask>
											<g id="Clip-2"></g>
											<path
												d="M114.213,57.8933 C114.213,89.4333 88.646,115.0003 57.107,115.0003 C25.567,115.0003 0,89.4333 0,57.8933 C0,26.3543 25.567,0.7873 57.107,0.7873 C88.646,0.7873 114.213,26.3543 114.213,57.8933"
												id="Fill-1"
												fill="#3878F0"
												mask="url(#mask-2)"
											></path>
										</g>
										<polygon id="Fill-4" fill="#FFFFFF" points="40.3219 51.348 34.3179 51.348 33.6619 35.367 40.3709 35.505"></polygon>
										<polygon id="Fill-6" fill="#FFFFFF" points="77.3668 51.6844 71.3628 51.6844 70.7068 35.7034 77.4158 35.8414"></polygon>
										<polygon id="Fill-8" fill="#FFFFFF" points="82.0035 77.7464 32.0325 78.4444 32.6425 71.5784 82.1805 70.5654"></polygon>
									</g>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<div class="TouchCardContainer">
				<div class="TouchCard" data-action="callback" data-path="smiley-unhappy">
					<div class="background">
						<div class="line"></div>
					</div>
					<div class="cardContent">
						<div class="imageContainer">
							<?xml version="1.0" encoding="UTF-8"?>
							<svg width="115px" height="117px" viewBox="0 0 115 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>Group 10</title>
								<defs>
									<polygon id="path-1" points="0 0.7873 114.2128 0.7873 114.2128 115 0 115"></polygon>
								</defs>
								<g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Group-10">
										<g id="Group-3" transform="translate(0.000000, 0.213000)">
											<mask id="mask-2" fill="white">
												<use xlink:href="#path-1"></use>
											</mask>
											<g id="Clip-2"></g>
											<path
												d="M114.2128,57.8933 C114.2128,89.4333 88.6458,115.0003 57.1068,115.0003 C25.5668,115.0003 -0.0002,89.4333 -0.0002,57.8933 C-0.0002,26.3543 25.5668,0.7873 57.1068,0.7873 C88.6458,0.7873 114.2128,26.3543 114.2128,57.8933"
												id="Fill-1"
												fill="#133069"
												mask="url(#mask-2)"
											></path>
										</g>
										<path
											d="M85.1615,84.2406 C81.4325,72.2876 70.2875,63.6076 57.1065,63.6076 C43.9255,63.6076 32.7805,72.2876 29.0515,84.2406 L85.1615,84.2406 Z"
											id="Fill-4"
											fill="#FFFFFF"
										></path>
										<polygon id="Fill-6" fill="#FFFFFF" points="41.8896 51.348 35.8856 51.348 35.2296 35.367 41.9386 35.505"></polygon>
										<polygon id="Fill-8" fill="#FFFFFF" points="78.9345 51.6844 72.9305 51.6844 72.2745 35.7034 78.9835 35.8414"></polygon>
									</g>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="endScreen">
		<div class="headline">Thanks for your feedback.</div>
	</div>
</div>
