<div data-view="MainView" data-path="demo-overview" class="view MainView">
	<div class="dragLine"></div>

	<div class="experimentContainer cards" data-drag="x">
		<div class="introText">
			<div class="text">Drag to explore<br /><span class="gray">the demos</span></div>
			<div class="arrow">
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="184px" height="159px" viewBox="0 0 184 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<title>Fill 1</title>
					<g id="Demo:Elevator" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="In-Demo-Nav_1-Copy" transform="translate(-243.000000, -66.000000)" fill="#FFFFFF">
							<polygon
								id="Fill-1"
								transform="translate(334.992806, 145.500000) rotate(-90.000000) translate(-334.992806, -145.500000) "
								points="326.040796 54 326.040796 203.96285 268.421511 145.869087 256 157.788271 334.994097 237 413.985612 157.788271 401.5641 145.869087 343.934486 203.96285 343.934486 54"
							></polygon>
						</g>
					</g>
				</svg>
			</div>
		</div>

		<div class="firstCard TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="how-was-your-experience">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline">● HOW WAS YOUR EXPERIENCE</div>
						<div class="number">01</div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/Touchless_Gestures.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description">
							Choose a smiley
						</div>
						<div class="arrowRight">→</div>
					</div>
				</div>
			</div>
		</div>

		<div class="TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="order-food">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline">● ORDER FOOD</div>
						<div class="number">02</div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/Touchless_Burger.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description">
							Order food at a restaurant
						</div>
						<div class="arrowRight">→</div>
					</div>
				</div>
			</div>
		</div>

		<div class="TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="elevator">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline">● ELEVATOR</div>
						<div class="number">03</div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/Touchless_Elevator.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description">
							Going up? Choose a floor
						</div>
						<div class="arrowRight">→</div>
					</div>
				</div>
			</div>
		</div>

		<div class="TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="videoplayer">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline">● VIDEO PLAYER</div>
						<div class="number">04</div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/Touchless_Player.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description">
							Interact with a video player
						</div>
						<div class="arrowRight">→</div>
					</div>
				</div>
			</div>
		</div>

		<div class="lastCard TouchCardContainer">
			<div class="TouchCard" data-action="path" data-path="finger-painting">
				<div class="background">
					<div class="line"></div>
				</div>
				<div class="cardContent">
					<div class="headerContainer">
						<div class="headline">● DRAWING</div>
						<div class="number">05</div>
					</div>
					<div class="imageContainer">
						<video autoplay playsinline muted loop src="/assets/videos/Touchless_Drawing.mp4" width="312" height="208"></video>
					</div>
					<div class="descriptionContainer">
						<div class="description">
							Paint with your fingers
						</div>
						<div class="arrowRight">→</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
